<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport">
    
    <title>Theta Tau</title>
    
    <link rel='shortcut icon' href='/media/favicon.png' type='image/x-icon'/>
    
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.min.css" media="screen,projection" rel="stylesheet" type="text/css">
    <link href="/css/style.css" media="screen,projection" rel="stylesheet" type="text/css">
</head>
    
<body>
    <ul id="brotherdropdown" class="dropdown-content">
        <li><a href="/brothers?who=all" class="blue-text">All</a></li>
        <li class='template' style="display: none"><a href="/brothers?who=class" class="blue-text light">text</a></li>
    </ul>
    <nav class="grey lighten-3" role="navigation">
        <div class="nav-wrapper container">
            <a class="brand-logo" href="/" id="logo-container"><img src="media/general/crest_small.png" vspace="15"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/rush" class="blue-text text-lighten-2">Rush</a></li>
                <li><a class="dropdown-button blue-text text-lighten-2" href="#" data-activates="brotherdropdown">Brothers<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul class="side-nav" id="nav-mobile" style="left: -250px;">
                <li class="active"><a href="/" class="blue-text text-lighten-2">Home</a></li>
                <li><a href="/rush" class="blue-text light">Rush</a></li>
                <li><a href="/brothers?who=all" class="blue-text light">Brothers</a></li>
            </ul><a class="button-collapse blue-text" data-activates="nav-mobile" href="#"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="parallax-container" id="index-banner">
        <div class="section no-pad-bot">
            <div class="container">
                <h1 class="header center white-text text-lighten-2"> <br> Theta Tau</h1>
                <h5 class="header center col s12 light"> <br> <b>Engineering Leaders</b> for Service, Profession, and Brotherhood</h5>
                <br>
            </div>
        </div>
        <div class="parallax">
            <img alt="Unsplashed background img 1" src="/media/home/IMG_6760.jpg" style="display: block; transform: translate3d(-50%, 357px, 0px);">
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="row">
                <h4 class="blue-text text-lighten-2">Theta Tau Zeta Epsilon Chapter at Stony Brook University</h4>
                <h5 class="light">At over 35,000 members, Theta Tau is the oldest, largest, and foremost Fraternity for Engineers.</h5>
            </div>
            <div class="row">
                <p>
                    <span class="image left"><img src="/media/general/shield_small.png" title="Coat of Arms"></span>
                    At Stony Brook University,  we are the only coed professional engineering fraternity on campus. We focus on developing and maintaining a high standard of professional interest among our members, and to unite them in a strong bond of fraternal fellowship. Our members are: Honest and Ethical, Dependable and Trustworthy, Respectful, Generous, and Proud of our Community of Engineers.
                    <br><br>
                    As a professional engineering fraternity, we combine aspects found in that of social fraternities and technical-oriented societies to create a community where brothers can form life-long bonds, develop themselves professionally, and have meaningful social experiences.
                </p>
                <p>For more information, <a href="#" class="light">visit our national website</a>.</p>
            </div>
        </div>
    </div>
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">We develop and maintain professional interest and fraternal fellowship.</h5>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img alt="Unsplashed background img 2" src="/media/home/IMG_1713.jpg" style="display: block; transform: translate3d(-50%, 94px, 0px);">
        </div>
    </div>
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col m1"><p></p></div>
            <div class="col s12 m3">
                <div class="icon-block">
                    <h2 class="center blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Brotherhood</h5>
                    <p class="light">
                        We forge lifelong bonds of fraternal friendship, a journey that develops and delivers a network of lasting personal and professional relationships. We foster an inviting, safe, and social environment in which our members become lifelong friends.
                    </p>
                    <a href="/brothers?who=all" class="light">Meet our Brothers</a>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-text"><i class="material-icons">work</i></h2>
                    <h5 class="center">Profession</h5>
                    <p class="light">
                        We develop and nurture engineers with strong communication, problem-solving, collaboration, and leadership skills that we demonstrate in our profession, our community, and in our lives.
                    </p>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="icon-block">
                    <h2 class="center blue-text"><i class="material-icons">build</i></h2>
                    <h5 class="center">Service</h5>
                    <p class="light">
                        We are known for our service to our college, university and the larger community. Our service projects create a unifying environment for learning and personal growth for our members.
                    </p>
                </div>
            </div>
            <div class="col m1"><p></p></div>
        </div>
    </div>
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">Whatsoever thy hand findeth to do, do it with thy might... -Ecclesiastes 9:10</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img alt="Unsplashed background img 3" src="/media/home/IMG_6347.jpg" style="display: block; transform: translate3d(-50%, 2px, 0px);"></div>
    </div>
    <div class="container">
        <div class="section">
            <h5>Check out where we've been</h5>
            <br>
            <div class="divider"></div>
            <table>
                <colgroup>
                    <col span="5" style="width: 20%" />
                </colgroup>
                <tr>
                    <td><img src="/media/logos/hexcel.png" title="Hexcel" width="100%"></td>
                    <td><img src="/media/logos/parsonsbrickernoff.png" title="Parsons Brickernoff" width="100%"></td>
                    <td><img src="/media/logos/cognizant.png" title="Cognizant" width="100%"></td>
                    <td><img src="/media/logos/generalelectric.png" title="General Electric" width="100%"></td>
                    <td><img src="/media/logos/alcoa.png" title="Alcoa" width="100%"></td>
		</tr>
                <tr>
                    <td><img src="/media/logos/utcaerospacesystems.png" title="UTC Aerospace Systems" width="100%"></td>
                    <td><img src="/media/logos/citi.png" title="Citi" width="100%"></td>
                    <td><img src="/media/logos/eaton.png" title="Eaton" width="100%"></td>
                    <td><img src="/media/logos/daikin.png" title="Daikin" width="100%"></td>
		    <td><img src="/media/logos/dassaultsystemes.png" title="Dassault Systemes" width="100%"></td>
                </tr>
                <tr>
                    <td><img src="/media/logos/fluor.png" title="Fluor" width="100%"></td>
                    <td><img src="/media/logos/hbo.png" title="HBO" width="100%"></td>
                    <td><img src="/media/logos/toyota.jpg" title="Toyota" width="100%"></td>
                    <td><img src="/media/logos/lirogroup.png" title="Liro Group" width="100%"></td>
		    <td><img src="/media/logos/google.png" title="Google" width="100%"></td>
                </tr>
                <tr>
                    <td><img src="/media/logos/brownbrothersharriman.png" title="Brown Brothers Harriman" width="100%"></td>
                    <td><img src="/media/logos/zebratechnologies.png" title="Zebra Technologies" width="100%"></td>
                    <td><img src="/media/logos/mta.png" title="MTA" width="100%"></td>
                    <td><img src="/media/logos/nbty.png" title="NBTY" width="100%"></td>
		    <td><img src="/media/logos/generaldynamics.png" title="General Dynamics" width="100%"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 ">Interested in becoming a part of something big?<br><br></h5>
                    <div class="row center">
                        <a class="btn-large waves-effect waves-light blue lighten-2 grey-text text-lighten-4" href="/rush">How do I join?</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img alt="Unsplashed background img 3" src="/media/home/IMG_9533.jpg" style="display: block; transform: translate3d(-50%, 2px, 0px);">
        </div>
    </div>
    <footer class="page-footer blue lighten-1">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class="white-text">Contact Us</h5>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12">
                    <p class="grey-text text-lighten-3">
                        Have any questions, concerns, or comments?
                        <br>We would love to hear from you! Contact us at:
                        <br><span><a href="MAILTO:thetatau.SBU@gmail.com" class="grey-text text-lighten-2">thetatau.SBU@gmail.com</a></span>
                    </p>
                </div>
                <div class="col m3 s6" align="center">
                    <br>
                    <a target="_blank" href="https://www.facebook.com/ThetaTauSBU/"><img src="/media/general/facebook.png" title="Facebook" width="40%"></a>
                </div>
                <div class="col m3 s6">
                    <br>
                    <a target="_blank" href="https://instagram.com/stonythetatau/"><img src="/media/general/instagram.png" title="Instagram" width="40%"></a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made using <a class="brown-text text-lighten-3" target="_blank" href="http://materializecss.com">Materialize</a> and <a class="brown-text text-lighten-3" target="_blank" href="https://expressjs.com/">Express</a>
            </div>
        </div>
    </footer>
    
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
    <script src="/js/materialize.min.js"></script>
    <script src="/js/classesInfo.js"></script>
    <script src="/js/index.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-82830990-1', 'auto');
      ga('send', 'pageview');
    </script>
    <div class="hiddendiv common"></div>
    <div class="drag-target" style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
    </div>
</body>
</html>
